@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<fieldset style="border:1px solid black; background-color:lightgray; text-align:center">
    Auteur: Olivier Bourdel <br />
    Email: 202055978@edu.clg.qc.ca <br />
    Département informatique <br />
    Collège Lionel-Groulx <br />
</fieldset>

